body {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 100px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.div2 {
  grid-area: 2 / 1 / 3 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div3 {
  grid-area: 3 / 1 / 3 / 6;
}
.div4 {
  grid-area: 4 / 1 / 6 / 3;
}
.div5 {
  grid-area: 4 / 4 / 6 / 6;
}
.div6 {
  grid-area: 4 / 3 / 6 / 4;
}

.text-center {
  text-align: center;
}

.border-bottom {
  border-bottom: 4px solid #000;
  border-color: white;
}

.border-left {
  border-left: 4px solid #000;
  border-color: white;
}

.border-right {
  border-right: 4px solid #000;
  border-color: white;
}

.p-20 {
  padding: 20px;
}

.text-white {
  color: rgb(252, 244, 244);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgba(10, 240, 224, 0.6);
  color: white;
  font-size: 18px;
  border-radius: 16px;
  font-family: sans-serif;
  font-weight: bold;
  width: 50%;
  border: none;
  padding: 20px;
}

.button:hover {
  background-color: rgba(10, 240, 224, 0.7);
}

.border {
  border: 4px;
  padding: 5px;
  border-color: white;
}
